body{
  background-color: #EEEEEE;
  text-align: center;
}
table, th, tr, td {
    border: 1px solid ;
    color: aqua;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
    padding: 20px;
    color: black;
    background-color: #EEEEEE;
  }
  th{
    background-color: #3A98B9;
  }
  h1{
    color: royalblue;
  }
  h2{
    color: brown;
  }
  .column{
    background-color: #E8D5C4;
  }
  .time{
    background-color: #FFF1DC;
  }
  .doubleLine{
    text-decoration: underline;
  }
  .list{
    display: inline-block;
    text-align: left;
  }
  .hide {
    display: none;
  }
 