* {
  box-sizing: border-box;
}
body{
  background-color: #EEEEEE;
  text-align: center;
}
table, th, tr, td {
    border: 1px solid ;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
  }
  table{
    table-layout: fixed ; width: 45%;
  }
  th, tr, td{
    padding: 20px;
  }
  td {
    color: black;
    background-color: #EEEEEE;
  }
  th{
    background-color: #3A98B9;
  }
  h1{
    color: royalblue;
  }
  h2{
    color: brown;
  }
  .column{
    background-color: #E8D5C4;
    font-weight: bold;
  }
  .doubleLine{
    text-decoration: underline;
  }
  .list{
    display: inline-block;
    text-align: left;
  }
  .hide {
    display: none;
  }
 